#Character-List img {
    width: 250px;
    height: 250px;
}

.character-card img {
    width: 500px;
    height: 500px;
}

body {
    background-color:black;
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
#Character-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.character-card {
    width: 500px;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

.character-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.character-name {
    font-weight: bold;
    margin-top: 10px;
}

.character-birth-year {
    margin-top: 5px;
}

h1 {
    color: Yellow;
    font-family: 'Star Wars', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
}